/* From uiverse.io by @harman-kanda */
/* From cssbuttons.io by @harmankanda.github.io/New */

.pl {
    width: 5em;
    height: 5em;
}

.pl circle {
    transform-box: fill-box;
    transform-origin: 50% 50%;
}

.pl__ring1 {
    animation: ring1 1s 0s ease-out normal forwards;
}

.pl__ring1:hover{
    animation: ring1 1s 0s ease-out normal forwards;
}


/* Animations */
@keyframes ring1 {
    from {
        stroke-dashoffset: -360.237129776;
        transform: rotate(-0.21turn);
        animation-timing-function: ease-in;
    }

    100%, to {
        stroke-dashoffset: 0;
        transform: rotate(0.75turn);
    }
}

.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.number{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto ;
    font-weight: 400;
    font-size:  1.75em;
    color: #008800;
    background-color: #e6faf0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: -1;
}